body{

font-family:Arial;

background:#f5f5f5;

padding:40px;

max-width:900px;

margin:auto;

}

h1{

text-align:center;

}

select,
input,
button{

font-size:18px;

padding:10px;

margin:8px;

}

input{

width:300px;

}

button{

cursor:pointer;

}

.hidden{

display:none;

}

.buttons{

margin-top:20px;

}

#resultat{

font-size:20px;

font-weight:bold;

margin-top:20px;

}

#score{

margin-top:20px;

font-size:18px;

}